.my-footer {
  text-align: center;
  font-size: 0.9rem;
  color: #888;
  padding: 1rem;
  border-top: 1px solid #ddd;
  margin-top: auto;
}

.my-footer img {
  height: 20px;
  vertical-align: middle;
  margin-right: 6px;
}

.linkedin-link {
  color: #76808f;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.linkedin-link:hover {
  color: #3399ff;
  text-decoration: underline;
}

.linkedin-link span {
  color: #3399ff;
}
